# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = Ubuntu
#	email = vendeezel314hot@vendeezel314hot.pzc0jvr2v5befihfmdskupffna.gx.internal.cloudapp.net
[user]
	name = vendeezel314
	email = vendeezel314@hotmail.com
